<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Good Thymes Virtual Grocery</title>
    <link data-th-href="@{/css/style.css}" href="../../css.style.css" rel="stylesheet">
</head>
<body>

<h2 th:text="#{title.list}">List of Seed Starters</h2>
<div th:text="${allSeedStarters.size()}"></div>
<p th:text="#{home.welcome}"></p>

<p>Today is: <span th:text="${today}"></span></p>
<div class="seedstarterlist" th:unless="${#lists.isEmpty(allSeedStarters)}">
    <table>
        <thead>
        <tr>
            <th th:text="#{seedstarter.datePlanted}">Date Planted</th>
            <th th:text="#{seedstarter.covered}">Covered</th>
            <th th:text="#{seedstarter.features}">Features</th>
            <th th:text="#{seedstarter.rows}">Rows</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sb : ${allSeedStarters}">
            <td th:text="${sb.datePlanted}"></td>
            <td th:text="${sb.covered}"></td>
            <td th:each="feature:  ${sb.features}">
                <ul>
                    <li th:text="${feature}"></li>
                </ul>
            </td>
            <td th:each="row: ${sb.rows}">
                <ul>
                    <li th:text="${row}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
